.listagem{
    max-width: 200px;
}

.listagem .pokemon{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #6b727a;
    color: white;
    cursor: pointer;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 8px;

}

.listagem .pokemon img{
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon:hover{
    transform: scale(1.10);
}

.listagem .pokemon.ativo{
    background-color: red;
}